{% from 'BtnAdminBundle:_macros:breadcrumb.html.twig' import breadcrumb %}
{% extends 'BtnAdminBundle::base.html.twig' %}

{% form_theme edit_form 'BtnAdminBundle:Form:fields.html.twig' %}

{% block content %}
<div id="pageContainer">
    <form action="{{ path('cp_page_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="well form-horizontal" novalidate>
        <fieldset>
            <legend>{% trans %}page.edit{% endtrans %}</legend>
            {{ form_widget(edit_form) }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">{% trans %}crud.save{% endtrans %}</button>
                </div>
            </div>
        </fieldset>
    </form>

    <form action="{{ path('cp_page_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <a href="{{ path('cp_page') }}" class="btn btn-default">&laquo; {% trans %}crud.back{% endtrans %}</a>
        <button type="submit" data-confirmation="true" data-message="{% trans %}crud.confirm.message{% endtrans %}" data-title="{% trans %}crud.confirm.title{% endtrans %}" class="btn btn-danger delete">{% trans %}crud.delete{% endtrans %}</button>
    </form>
</div>
{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb({'cp_page': 'btn_admin.list', 'cp_page_edit': 'crud.breadcrumb.edit'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@BtnPageBundle/Resources/public/js/page.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
