{% from 'BtnCrudBundle::breadcrumb.html.twig' import breadcrumb %}
{% extends '::control.html.twig' %}

{% form_theme edit_form 'BtnCrudBundle:Form:fields.html.twig' %}

{% block content %}

    <form action="{{ path('cp_page_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="well form-horizontal" novalidate>
        <fieldset>
            <legend>Page edit</legend>
            {{ form_widget(edit_form) }}
            <p>
                <button type="submit" class="btn btn-success">{% trans %}crud.save{% endtrans %}</button>
            </p>
        </fieldset>
    </form>

            <form action="{{ path('cp_page_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <a href="{{ path('cp_page') }}" class="btn">
            &laquo; {% trans %}crud.back{% endtrans %}
        </a>
        <button type="submit" class="btn btn-danger">{% trans %}crud.delete{% endtrans %}</button>
    </form>

{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb({'cp_page': 'crud.breadcrumb.list', 'cp_page_edit': 'crud.breadcrumb.edit'}) }}
{% endblock %}