{% from 'BtnCrudBundle::breadcrumb.html.twig' import breadcrumb %}
{% extends '::control.html.twig' %}

{% form_theme form 'BtnCrudBundle:Form:fields.html.twig' %}

{% block content %}
  <div id="pageContainer">
    <form action="{{ path('cp_page_create') }}" method="post" {{ form_enctype(form) }} class="well form-horizontal" novalidate>
        <fieldset>
            <legend>{% trans %}page.create{% endtrans %}</legend>
            {{ form_widget(form) }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">{% trans %}crud.create{% endtrans %}</button>
                </div>
            </div>
        </fieldset>
    </form>

    <a href="{{ path('cp_page') }}" class="btn">&laquo; {% trans %}crud.back{% endtrans %}</a>
  </div>

{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb({'cp_page': 'crud.breadcrumb.list', 'cp_page_new': 'crud.breadcrumb.new'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@BtnPageBundle/Resources/public/js/page.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
