{% from 'BtnAdminBundle:Macros:breadcrumb.html.twig' import breadcrumb %}
{% from 'BtnAdminBundle:Macros:icon.html.twig' import glyphicon as gi %}
{% import 'BtnAdminBundle:Macros:link.html.twig' as lnk %}
{% import 'BtnAdminBundle:Macros:list.html.twig' as lst %}
{% extends 'BtnAdminBundle::list.html.twig' %}

{% block breadcrumb %}
    {{ breadcrumb({'btn_news_newscontrol_index': 'btn_admin.list'}) }}
{% endblock %}

{% block list_header %}
    {{ lst.header('btn_page.list') }}
{% endblock %}

{% block list_table %}
    <table class="{{ lst.table_class() }}">
        <thead>
            <tr>
                <th class="{{ lst.col_id_class() }}">{% trans %}btn_page.id{% endtrans %}</th>
                <th>{% trans %}btn_page.title{% endtrans %}</th>
                <th class="{{ lst.col_act_class }}">{% trans %}btn_admin.actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td class="{{ lst.col_id_class() }}">{{ entity.id }}</td>
                <td>{{ entity.title }}</td>
                <td class="{{ lst.col_act_class }}">
                    {{ lnk.edit('btn_page_pagecontrol_edit', {id: entity.id }) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block list_pagination %}
    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block list_buttons %}
    {{ lnk.add('btn_page_pagecontrol_new') }}
{% endblock %}
